In [13]:
%matplotlib inline

import operator

import numpy as np
import matplotlib.pyplot as plt

from pandas import Series, DataFrame
import pandas as pd

import sklearn
from sklearn.cross_validation import KFold as KF
from sklearn.neighbors import KNeighborsClassifier as KNClassifier
from sklearn.cross_validation import cross_val_score as CVS

In [14]:
data = pd.read_table('wine.data', sep=',', header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [15]:
data.shape

(178, 14)

In [16]:
Y = data[0]
Y.shape

(178,)

In [17]:
X = data.ix[:,1:]
X.shape

(178, 13)

In [18]:
kf = KF(X.shape[0], n_folds=5, shuffle=True, random_state=42)
kf

sklearn.cross_validation.KFold(n=178, n_folds=5, shuffle=True, random_state=42)

In [24]:
type(X)

numpy.ndarray

In [25]:
type(Y)

pandas.core.series.Series

In [19]:
def getSortedDict():
    k = 1
    dictKM = {}
    while k <= 50:
        knc = KNClassifier(n_neighbors=k)
        #knc.fit(X, Y)
        cvsArray = CVS(estimator=knc, X=X, y=Y, cv=kf)
        m = cvsArray.mean()
        dictKM[k] = m
        k += 1
        
    return sorted(dictKM.items(), key=operator.itemgetter(1))

In [20]:
simpleSorted = getSortedDict()

In [21]:
# Приведение признаков к одному масштабу
# Получение матрицы, в которой каждый столбец имеет нулевое 
# среднее значение и единичное стандартное отклонение.
X = sklearn.preprocessing.scale(X)
normalSorted = getSortedDict()

In [22]:
simpleSorted

[(4, 0.65777777777777779),
 (2, 0.66253968253968254),
 (6, 0.67428571428571438),
 (5, 0.67460317460317465),
 (19, 0.67936507936507928),
 (14, 0.67936507936507939),
 (18, 0.67952380952380953),
 (16, 0.67952380952380964),
 (8, 0.67999999999999994),
 (7, 0.68000000000000005),
 (10, 0.68015873015873018),
 (13, 0.69095238095238087),
 (20, 0.69095238095238087),
 (31, 0.69095238095238098),
 (27, 0.69634920634920638),
 (22, 0.69650793650793641),
 (26, 0.69650793650793652),
 (12, 0.69666666666666666),
 (47, 0.69666666666666666),
 (49, 0.69666666666666666),
 (17, 0.70158730158730154),
 (21, 0.70190476190476192),
 (25, 0.70190476190476192),
 (15, 0.70190476190476203),
 (23, 0.70206349206349206),
 (9, 0.70238095238095233),
 (11, 0.70253968253968258),
 (24, 0.70761904761904759),
 (40, 0.70777777777777773),
 (42, 0.70777777777777773),
 (43, 0.70777777777777773),
 (44, 0.70777777777777773),
 (45, 0.70777777777777773),
 (46, 0.70777777777777773),
 (50, 0.70777777777777773),
 (28, 0.70793650793650786),
 (30, 0.70793650793650786),
 (39, 0.70793650793650786),
 (3, 0.70825396825396825),
 (29, 0.7134920634920634),
 (32, 0.7134920634920634),
 (33, 0.7134920634920634),
 (37, 0.7134920634920634),
 (38, 0.7134920634920634),
 (41, 0.7134920634920634),
 (36, 0.71349206349206362),
 (48, 0.71904761904761916),
 (34, 0.72460317460317469),
 (35, 0.72460317460317469),
 (1, 0.7304761904761905)]

In [23]:
normalSorted

[(2, 0.93285714285714294),
 (4, 0.93825396825396834),
 (1, 0.94396825396825401),
 (5, 0.94936507936507941),
 (13, 0.94952380952380933),
 (6, 0.94952380952380955),
 (7, 0.94952380952380955),
 (46, 0.94952380952380955),
 (48, 0.94952380952380955),
 (3, 0.95507936507936508),
 (47, 0.95507936507936508),
 (49, 0.95507936507936508),
 (8, 0.95523809523809522),
 (12, 0.95523809523809522),
 (24, 0.95523809523809522),
 (25, 0.95523809523809522),
 (27, 0.95523809523809522),
 (31, 0.95523809523809522),
 (37, 0.95523809523809522),
 (19, 0.95539682539682536),
 (44, 0.96063492063492062),
 (50, 0.96063492063492062),
 (9, 0.96079365079365076),
 (10, 0.96079365079365076),
 (26, 0.96079365079365076),
 (30, 0.96079365079365076),
 (32, 0.96079365079365076),
 (35, 0.96079365079365076),
 (36, 0.96079365079365076),
 (38, 0.96079365079365076),
 (39, 0.96079365079365076),
 (40, 0.96079365079365076),
 (42, 0.96079365079365076),
 (11, 0.96095238095238089),
 (23, 0.96095238095238089),
 (21, 0.96095238095238111),
 (14, 0.96634920634920629),
 (28, 0.96634920634920629),
 (33, 0.96634920634920629),
 (34, 0.96634920634920629),
 (41, 0.96634920634920629),
 (43, 0.96634920634920629),
 (45, 0.96634920634920629),
 (17, 0.96650793650793643),
 (18, 0.96650793650793643),
 (20, 0.96650793650793643),
 (22, 0.96650793650793643),
 (15, 0.97206349206349218),
 (16, 0.97206349206349218),
 (29, 0.9776190476190475)]